@model GraduateDesignBk.Models.SearchAndPage
@{
    ViewBag.Title = "List";
    ViewDataDictionary dic = new ViewDataDictionary();
    dic.Add("userType", Model.userType);
}
<style>
    hr {
        border: 1px solid #cccccc;
        margin-bottom: 0px;
    }
    .bkOnBlur{
        background-color:#8aa742;
    }
</style>
@using (Html.BeginForm("List", "Account", new { userType = @Model.userType }, FormMethod.Post, new { id = "form_Search", @class = "form-inline" }))
{
    <input type="hidden" id="pagesize" name="page.PageSize" value="@Model.page.PageSize" />
    <input type="hidden" id="CurIndex" name="page.CurIndex" value="@Model.page.CurIndex" />
    <input type="hidden" name="type" value="@Model.type" />
    <input type="hidden" name="subtype" value="@Model.subtype" />
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <a class="btn"  data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <span class="glyphicon glyphicon-cog btn-lg" aria-hidden="true"></span>
        </a>
   </div>
    <div class="form-group">
        @Html.EditorFor(model => model.SerachRealName, new { htmlAttributes = new { placeholder = "姓名", @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.SearchName, new { htmlAttributes = new { placeholder = "通号", @class = "form-control" } })
    </div>
    if (Model.userType != "教师")
    {
        <div class="form-group">
            @Html.EnumDropDownListFor(model => model.SearchLevel, "--学级--", htmlAttributes: new { @class = "form-control" })
        </div>
    }
    <div class="form-group">
        @Html.EnumDropDownListFor(model => model.SearchMayor, "--专业--", htmlAttributes: new { @class = "form-control" })
    </div>
    <a href="#" onclick="getPageSize(0)" class="btn btn-default"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜 索</a>
}
<div class="collapse" id="collapseExample">
    @using (Html.BeginForm("DeleteUser", "Account", new { RoleName = @Model.userType }, FormMethod.Post, new { id = "form_DeleteUser" }))
    {
        <input type="hidden" id="DeleteUser" name="Ids" value="" />

        <label for="Totalselect" class="btn btn-default">全 选</label>
        <input type="checkbox" id="Totalselect" onclick="CheckDelete()" />
        @Html.ActionLink("添加", "AddNewUser", new { roleType = @Model.userType, }, htmlAttributes: new { @class = "btn btn-default" })
        <a href="javascript:Submit('DeleteUser');" onclick="return confirm('你确定要删除这些成员吗？关于该成员的所有信息都将被删除，请慎重！')" class="btn btn-default">删除</a>
        if (@Model.type == "UnGroupList")
        {
            <a href="javascript:Submit('AddUserToRole');" class="btn btn-default">添加到该角色</a>
        }
        else
        {
            <a href="javascript:Submit('RemoveUserFromRole');" onclick="return confirm('你确定要移除这些成员吗？该成员的师生关系将被移出，请慎重！')" class="btn btn-default">移除</a>
        }
        if (@Model.subtype == "unSorT")
        {
            <a href="javascript:Submit('AddStuOrTe');" class="btn btn-default">添加 @Model.userType</a>
        }
        <a href="javascript:Submit('SendMsg');" class="btn btn-default">发送消息</a>
    }

    @using (Html.BeginForm("AddUserToRole", "Account", new { roleName = Model.userType }, FormMethod.Post, new { id = "form_AddUserToRole" }))
    {
        <input type="hidden" id="AddUserToRole" name="userIds" value="" />
    }

    @using (Html.BeginForm("RemoveUserFromRole", "Role", new { roleName = Model.userType }, FormMethod.Post, new { id = "form_RemoveUserFromRole" }))
    {
        <input type="hidden" id="RemoveUserFromRole" name="Id" value="" />
    }

    @using (Html.BeginForm("AddStuOrTe", "Account", new { Id = Model.Id, userType = Model.userType }, FormMethod.Post, new { id = "form_AddStuOrTe" }))
    {
        <input type="hidden" id="AddStuOrTe" name="Ids" value="" />
    }

    @using (Html.BeginForm("SendMsg", "Account", null, FormMethod.Get, new { id = "form_SendMsg" }))
    {
        <input type="hidden" name="roleName" value="@Model.userType" />
        <input type="hidden" id="SendMsg" name="IdS" value="" />
    }
</div>
<hr />
@Html.Partial("_UsersListPartial", Model.UserItems, dic)
@Html.Partial("_PagingPartial",Model.page)