@model GraduateDesignBk.Models.PersonNotice

@{
    ViewBag.Title = "SelfMsgs";
    ViewDataDictionary dic = new ViewDataDictionary();
    dic.Add("Id", Model.Id);
    dic.Add("userType", Model.userType);
    dic.Add("self", Model.userType);
    dic.Add("nav_title", "消息");
}

@Html.Partial("_NavSelfPartial", Model.counts, dic)


<table class="table">
    <thead></thead>
    <tbody>
        @foreach (var f in Model.msgs)
        {
            <tr>
                <td>@Html.DisplayFor(item => f.CreateTime)</td>
                <td>@Html.DisplayFor(item => f.Title)</td>
                <td>@Html.DisplayFor(item => f.Detail)</td>
                <td>
                    <ul>
                        @foreach (var to in Model.massMsg)
                        {
                            if (to.NID.Equals(f.NID))
                            {
                                <li>
                                    @to.ToUID  <span>@Html.DisplayFor(m => to.Readstate)</span>
                                </li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
