@model GraduateDesignBk.Models.PersonFiles

@{
    ViewBag.Title = "SelfFiles";
    ViewDataDictionary dic = new ViewDataDictionary();
    dic.Add("Id", Model.Id);
    dic.Add("userType", Model.userType);
    dic.Add("self", Model.userType);
    dic.Add("nav_title", "文件");

}
@Html.Partial("_NavSelfPartial", Model.counts, dic)

<table class="table">
    <thead></thead>
    <tbody>
        @foreach (var f in Model.sfile)
        {
            <tr>
                <td>@Html.DisplayFor(item => f.Name)</td>
                <td>@Html.DisplayFor(item => f.Pub)</td>
                <td>@Html.DisplayFor(item => f.UploadTime)</td>
                <td>
                    <ul>
                        @foreach (var to in Model.downup)
                        {
                            if (to.FID.Equals(f.FID))
                            {
                                <li>
                                    @to.ToUID  <span>@Html.DisplayFor(m=> to.Readstate)</span>
                                </li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>