@{
    ViewBag.Active = HttpContext.Current.Request.Path;
    ViewBag.Title = "_HeadLayout";
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet"-->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="renderer" content="webkit"><!-- 可以让部分国产浏览器默认采用高速模式渲染页面：http://v3.bootcss.com/getting-started/ -->
    <link rel="shortcut icon" href="iconfont-daxue.png">

    <title>江西理工大学理学院毕业指导网站</title>

    <!-- Bootstrap core CSS -->
    <!--link rel="stylesheet" href="demo.css">
    <!-- Custom styles for this template -->
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/HeadCss")
    <style>
        .selectNav {
            border-bottom: 2px solid #287EBB;
            width: 56px;
            /*padding-bottom: 15px;*/
        }
    </style>
    <script src="~/ckeditor/ckeditor.js"></script>
    <link href="~/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css" rel="stylesheet" />
    <script src="~/ckfinder/ckfinder_v1.js"></script>
</head>
<body style="background: #EEE">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation" style="background-color: #2b303e;border-color: #2b303e;">
        <div class="container">
            @Html.Partial("_LoginPartial")
            <div class="navbar-header">
                <a class="navbar-brand navbar-brand-background" href="#"></a>
            </div>
            <div class="titlejz navbar-header">理学院毕业指导网站</div>
        </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" style="background-color:#eee;padding-bottom: 24px;margin-bottom: 30px">
        <div class="row">
            <div class="col-md-7">
                <div class="notice" style="width:100%; float:left">
                    <marquee behavior="scroll" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" scrollamount="5" onmouseover="this.stop();" onmouseout="this.start();">
                        <span id="curNotes">通知：请各位同学在下周一之前上交毕业设计文件</span>
                    </marquee>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <ul id="mynavbar" class="mynavbar">
                    <!--<li><a href="/products/">Products &amp; Pricing<span></span></a></li>-->
                    <li style="text-align:left">
                        <a href="/" target="_self">
                            <div class="selectNav" style="height:35px">
                                问题广场
                            </div>
                        </a>
                    </li>
                    <li style="text-align:center">
                        <a href="/Home/FileCenter" target="_self">
                            <div style="margin:0 auto;height:35px">
                                文件中心
                            </div>
                        </a>
                    </li>
                    <li style="text-align:right">
                        <a href="/Home/SecuritylfCenter" target="_self">
                            <div style="height:35px">
                                个人信息
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <hr style="border-top:1px solid #ccc;margin-top:0px" width="100%" SIZE="3">
        </div>
        @RenderBody()
    </div> <!-- /container -->
    <footer>
        <p class="jz">&copy; Horizon 2016</p>
    </footer>
    @Scripts.Render("~/Content/HeadJs")
    <script>
        $(function ($) {
            //alert("通知");
            $.ajax({
                url: "/Note/Display",
                data: null,
                contentType:"text",
                type: "post",
                success: function (data) {
                    if (data != "error") {
                        $("#curNotes").html("通知：" + data);
                    }
                }
            });
            $.each($("#mynavbar li"), function (i, n) {
                //alert($(this).children("div").children("a").attr("href").trim())
                var url = $(this).children("a").attr("href").trim();
                var cur = '@ViewBag.Active';
                if (cur == url) {
                    $("#mynavbar li a div").removeClass("selectNav");
                    $(this).children("a").children("div").addClass("selectNav");
                }
            });
          
        });
    
    </script>
</body>
</html>
